{
	"env": {
		"server": {
			"presets": [
				[
					"env",
					{
						"targets": {
							"node": "current"
						}
					}
				]
			],
			"plugins": [
				"transform-remove-console",
				"remove-comments",
				"transform-remove-import"
			]
		},
		"development": {
			"presets": ["next/babel"],
			"plugins": [
				"transform-decorators-legacy",
				[
					"styled-components",
					{
						"ssr": true,
						"displayName": true,
						"preprocess": false
					}
				],
				"transform-class-properties",
				"transform-runtime",
				"transform-remove-console"
			]
		},
		"production": {
			"presets": "next/babel"
		},
		"test": {
			"presets": [
				"next/babel",
				[
					"env",
					{
						"targets": {
							"node": "current"
						}
					}
				]
			],
			"plugins": [
				"transform-decorators-legacy",
				"transform-class-properties",
				"transform-runtime",
				[
					"styled-components",
					{
						"ssr": true,
						"displayName": true,
						"preprocess": false
					}
				]
			]
		}
	}
}
